<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/Auth_style.css'%}">
    <title>My Portfolio</title>
</head>

<body>
    <div class="bg-img">
        <header>
            <h2 class="logo">Python Django Portal</h2>
            <nav class="navigation">
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Service</a>
                <button class="btnLogin-pop">Login</button>
            </nav>
        </header>
        <div class="wrapper">
                {% block content %}
                    
                {% endblock content %}      
            </div>
        </div>
    </div>
    <div class="signature">
        <h3>My Portfolio</h3>
    </div>
    <div class="messages">
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
    </div>
</body>
<script src="{% static '/js/toaster.js'%}"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</html>