{% extends 'base.html' %}
{% block content %}
  <div class="form-box login">
    <h2>Login</h2>
    <form action="" method="post" novalidate class="login-form">
      {% csrf_token %}
      <div class="input-box">
        <span class="icon"><ion-icon name="mail"></ion-icon></span>
        {{ form.username }}
        <label>Email</label>
      </div>
      <small class="text-error">{{ form.username.errors|striptags }}</small>
      <div class="input-box">
        <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
        {{ form.password }}
        <small class="text-error">{{ form.password.errors|striptags }}</small>
        <label>Password</label>
      </div>
      <div class="remember-forget">
        <label><input type="checkbox" />Remember Me</label><a href="Forget-Password">Forget Password?</a>
      </div>
      <button type="submit" class="btn">Login</button>
      <div class="login-register">
        <p>
          Don't have an account? <a href="#" class="login-register">Register</a>
        </p>
      </div>
    </form>
    <div class="snackbar"></div>
  </div>
{% endblock %}
