{% extends 'base.html' %}
{% block content %}

<body>
    <h1>Profile Page</h1>
    <h3>Welcome {{name}}</h3>
    <div class="flex-container">
        <div>
            <div class="col-sm-6 offse t-sm-3">
                <h3>List of all the Users</h3>
                {% comment %}---------------- printing the list of users ------------------------ {% endcomment %}
                {% if users != None %}
                {% comment %} printing the values with numbering from the data base {% endcomment %}
                <ol type="1">
                    {% for user in users %}
                    <li><a href="{% url 'user_detail' user.id %}">{{ user.username }}</a><br><br></li>
                    {% endfor %}
                </ol>
                {% else %}
                No Users
                {% endif %}

                <h3>User Profile</h3>
                <hr>
                <form action="" method="post" novalidate class="shadow p-5">
                    {% csrf_token %}
                    {% for fm in form %}
                    <div class="form-group" >
                        {{fm.label_tag}} {{fm}}
                        <small class="text-danger">{{fm.errors|striptags}}</small><br><br>
                    </div>
                    {% endfor %}
                    <div class="flex-container">
                        <div>
                            <input type="submit" value="Save" class="btn btn-primary mt-4">
                        </div>
                        <div>
                            <a class='nav-link' href="{% url 'user_logout'%}"> <button type="button" class="btn btn-primary"> logout </button> </a>
                        </div>
                        <div>
                            <a class='nav-link' href="{% url 'user_change_pass'%}"> <button type="button" class="btn btn-primary"
                                style="width: 100%;"> Change Pass </button> </a>
                        </div>
                    </div>
                    <br>
                   

                    {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                    <p class="alert alert-danger my-3">{{error}}</p>
                    {% endfor %}
                    {% endif %}
                </form>

                {% for message in messages %}
                {{message}}
                {% endfor %}

            </div>
            {% comment %} <div>
                <a class='nav-link' href="{% url 'user_logout'%}"> <button type="button" class="btn btn-primary"
                        style="width: 100%;"> logout </button> </a>
            </div> {% endcomment %}
    </div>
</body>
{% endblock content %}